*~
*.elc
*.sqlite
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
./jira/*.org
.dap-breakpoints
bookmarks
./transient/*
transient/*

history
projects
server/
recentf
projectile.cache
projectile-bookmarks.eld
.mc-lists.el
backup/
eln-cache/
eln-cache/*
eln-cache/**
org-persist/
org-persist/*
org-persist/**
auto-save-list
straight/build/
straight/links/
straight/repos/
straight/build-cache.el
.lsp-session*
workspace/
.cache/
./.dap-breakpoints*
eclipse.jdt.ls/
request/
*.data
ignore/